<section class="p-0 mb-5" id="apartments">
  <div class="container-fluid">
    <% @flats.each do |flat| %>
      <div class="row no-gutter apartment-box" style="background-image: url(<%= cl_image_path("6002bc6b_original_m7lit4") %>);">
        <div class="col-12">
          <%= link_to flat_path(flat), class: "apartment-box-content" do %>
            <h1><%= flat.name %></h1>
            <p><%= flat.description %></p>
            <button class="btn btn-primary btn-lg" href="<%= flat_path(flat) %>">See Details</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
