<%= render "navbar-index" %>

<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">42 rue Binaud, Chartrons</h1>
      <hr>
      <p>The best place to stay in Bordeaux</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light">
        <p class="text-faded">We're taking care of everything during your journey in Bordeaux. The only thing you need to think is what are you going to do and when in one of the most beautifull city of France.</p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">See Our Services</a>
      </div>
    </div>
  </div>
</section>

<iframe width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOQqcJ30oVQ0RKNJibbva8bw&key<%= ENV['GOOGLE_MAPS_API_KEY']%>" allowfullscreen></iframe>

<%= render "services-index" %>

<section class="p-0 mb-5" id="apartments">
  <div class="container-fluid">
    <% @flats.each do |flat| %>
      <div class="row no-gutter apartment-box" style="background-image: url(<%= flat.background_url %>);">
        <div class="col-12">
          <%= link_to flat_path(flat), class: "apartment-box-content" do %>
            <h1><%= flat.name %></h1>
            <p><%= flat.description %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<%#= render "discover-index" %>

<%= render "contact-index" %>

<%= content_for :metahead do %>
<link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<% end %>

<%= content_for :after_js do %>
<script>
  (function($) {
  "use strict"; // Start of use strict

  // Smooth scrolling using jQuery easing
  $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: (target.offset().top - 48)
        }, 1000, "easeInOutQuart");
        return false;
      }
    }
  });

  // Closes responsive menu when a scroll trigger link is clicked
  $('.js-scroll-trigger').click(function() {
    $('.navbar-collapse').collapse('hide');
  });

  // Activate scrollspy to add active class to navbar items on scroll
  $('body').scrollspy({
    target: '#mainNav',
    offset: 48
  });

  // Collapse the navbar when page is scrolled
  $(window).scroll(function() {
    if ($("#mainNav").offset().top > 100) {
      $("#mainNav").addClass("navbar-shrink");
    } else {
      $("#mainNav").removeClass("navbar-shrink");
    }
  });

  // Scroll reveal calls
  window.sr = ScrollReveal();
  sr.reveal('.sr-icons', {
    duration: 600,
    scale: 0.3,
    distance: '0px'
  }, 200);
  sr.reveal('.sr-button', {
    duration: 1000,
    delay: 200
  });
  sr.reveal('.sr-contact', {
    duration: 600,
    scale: 0.3,
    distance: '0px'
  }, 300);

  // Magnific popup calls
  $('.popup-gallery').magnificPopup({
    delegate: 'a',
    type: 'image',
    tLoading: 'Loading image #%curr%...',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0, 1]
    },
    image: {
      tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
    }
  });

})(jQuery); // End of use strict
</script>
<% end %>
