<%= render "navbar-index" %>

<header class="masthead" style="background-image: linear-gradient(-225deg, rgba(159, 159, 159,0.6) 0%, rgba(53, 53, 53,0.6) 50%), url(<%= image_url "outdoor#{rand(1..9)}" %>);">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">42 rue Binaud, Chartrons</h1>
      <hr>
      <p>The best place to stay in Bordeaux</p>
      <%= link_to "See Details", flat_path(@flats.first), class: "btn btn-primary btn-xl js-scroll-trigger" %>
    </div>
  </div>
</header>

<%#= render "wgwyn-box-index" %>

<iframe width="100%" alt="map" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=42+rue+Binaud+Bordeaux&key=<%= ENV['GOOGLE_MAPS_API_KEY']%>" allowfullscreen></iframe>

<%= render "services-index" %>

<%= render "apartments-index" %>

<%#= render "discover-index" %>

<%= render "contact-index" %>

<%= content_for :metahead do %>
<link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<% end %>

<%= content_for :after_js do %>
  <script>
    (function($) {
    "use strict"; // Start of use strict

    // Smooth scrolling using jQuery easing
    $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: (target.offset().top - 48)
          }, 1000, "easeInOutQuart");
          return false;
        }
      }
    });

    // Closes responsive menu when a scroll trigger link is clicked
    $('.js-scroll-trigger').click(function() {
      $('.navbar-collapse').collapse('hide');
    });

    // Activate scrollspy to add active class to navbar items on scroll
    $('body').scrollspy({
      target: '#mainNav',
      offset: 48
    });

    // Collapse the navbar when page is scrolled
    $(window).scroll(function() {
      if ($("#mainNav").offset().top > 100) {
        $("#mainNav").addClass("navbar-shrink");
      } else {
        $("#mainNav").removeClass("navbar-shrink");
      }
    });

    // Scroll reveal calls
    window.sr = ScrollReveal();
    sr.reveal('.sr-icons', {
      duration: 600,
      scale: 0.3,
      distance: '0px'
    }, 200);
    sr.reveal('.sr-button', {
      duration: 1000,
      delay: 200
    });
    sr.reveal('.sr-contact', {
      duration: 600,
      scale: 0.3,
      distance: '0px'
    }, 300);

    // Magnific popup calls
    $('.popup-gallery').magnificPopup({
      delegate: 'a',
      type: 'image',
      tLoading: 'Loading image #%curr%...',
      mainClass: 'mfp-img-mobile',
      gallery: {
        enabled: true,
        navigateByImgClick: true,
        preload: [0, 1]
      },
      image: {
        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
      }
    });

  })(jQuery); // End of use strict
  </script>
<% end %>
