<nav class="navbar navbar-expand-lg navbar-light fixed-top show" id="mainNav">
  <div class="container-fluid">
    <%= link_to "Back", flats_path, class: "navbar-brand back" %>
    <p id="disponibility">Actuellement disponible</p>
  </div>
</nav>

<header class="appartment-details-header">
  <div class="container-fluid p-0">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% 9.times do |t| %>
          <div class="carousel-item">
            <%= image_tag "outdoor#{t+1}", class: "image-blur" %>
            <div class="image-box">
              <%= image_tag "outdoor#{t+1}", class: "image" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<section id="description-header">
  <div id="title-price-box">
    <p class="title name"><%= @flat.name %></p>
    <p class="title surface">115m²</p>
    <div id="price-box">
      <p class="price">110 €</p>
      <p class="unity">/ par nuit</p>
    </div>
  </div>
  <div id="description-content-insights">
    <p class="description-content container-fluid"><%= @flat.description %></p>
    <div class="insights">
      <div class="row ">
        <% @flat.insights.each do |insight| %>
          <div class="insight">
            <p><%= show_svg(insight.icon_name) %> <%= insight.quantity %> <%= insight.legend %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="rooms-description">
  <button type="button" id="btn-rooms">
    Descriptif complet des pièces
    <span class="fa fa-caret-down" id="arrow" title="expand rooms-description-content">
  </button>

  <div class="" id="rooms-description-content">
    <p class="location-indication">Le logement est situé à 10 minutes à pied des quais et du centre</p>
    <div id="rooms-container">
      <% @flat.rooms.each_with_index do |room, i| %>
        <div class="room" id="<%= "room#{i}:#{room.name}" %>">
          <p class="room-description"><%= room.description %></p>
          <div class="room-images-box row">
            <div class="col-6 text-center">
              <%= image_tag @photos[i][0], class: "room-image" %>
            </div>
            <div class="col-6 text-center">
              <%= image_tag @photos[i][1], class: "room-image" %>
            </div>
          </div>
          <%= link_to "cliquer pour voir plus de photos", "##{room.name}", class: "room-images-galery-link" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="rules">
  <p class="title">Réglement Intérieur</p>
  <div class="container">
    <p class="rule">Non fumeur</p>
    <p class="rule">Pas d'animaux</p>
    <p class="rule">Pas de fêtes ni de soirées</p>
    <p class="rule">L'entrée dans les lieux se fait à partir de 15:00</p>
  </div>
</section>

<section id="extra">
  <p>
    Nous vous fournissons les draps et les serviettes de toilette gratuitement !</br>
    Lit parapluie combiné et chaise haute sur demande.
  </p>
</section>

<section id="links">
  <%= link_to "Voir l'emplacement du quartier sur google maps", "#map", id: "maps-location-link" %>
  <%= link_to "Réserver", "https://www.airbnb.fr/rooms/6747273", class: "btn-xl" %>
</section>

<%= render "shared/photoswipe" %>

<%= content_for :after_js do %>
<script>
  $(document).ready(function(e) {
    $('.carousel-inner>.carousel-item:first-child').addClass("active")
    $('.carousel').carousel({
      interval: 3500,
      pause: "none"
    })

    $('#btn-rooms').on('click', function(e){
      console.log(e);
      $('#btn-rooms>span').toggleClass('fa-caret-down');
      $('#btn-rooms>span').toggleClass('fa-caret-up');
      $('#rooms-description-content').toggleClass('expand');
    });

    $('#maps-location-link').on('click', function(e){
      e.preventDefault();

    });

    $('.room-images-galery-link').on('click', function(e){
      e.preventDefault();
      console.log(e);
      var items = [
        {
          src: $(this).parent().find('.room-image')[0].src,
          w: 1024,
          h: 683
        },
        {
          src: $(this).parent().find('.room-image')[1].src,
          w: 1024,
          h: 683
        }
      ];

      var gallery = new PhotoSwipe( $('.pswp')[0], PhotoSwipeUI_Default, items);
      gallery.init();
    });
  });
</script>
<% end %>
