<nav class="navbar navbar-expand-lg navbar-light fixed-top show" id="mainNav">
  <div class="container-fluid">
    <%= link_to "Back", flats_path, class: "navbar-brand back" %>
    <p id="disponibility">Actuellement disponible</p>
  </div>
</nav>

<header class="appartment-details-header">
  <div class="container-fluid p-0">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% 9.times do |t| %>
          <div class="carousel-item">
            <%= image_tag "outdoor#{t+1}", class: "image-blur" %>
            <div class="image-box">
              <%= image_tag "outdoor#{t+1}", class: "image" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<section class="container-fluid" id="content">
  <div id="title-price-box">
    <p class="title name"><%= @flat.name %></p>
    <p class="title surface">115m²</p>
    <div id="price-box">
      <p class="price">110 €</p>
      <p class="unity">/ par nuit</p>
    </div>
  </div>
  <p class=""><%= @flat.description %></p>

    <div class="row">
    <span>
      The space

      Située dans le quartier des Chartrons.
      Charmante maison au calme de 115 M2, qui peut accueillir de 2 à 8 personnes.
      La maison est une dépendance située au fond de notre jardin,la terrasse cloturée sépare les 2 maisons.

      Descriptif :
      - Grand salon/salle à manger ensoleillé donnant sur la terrasse (canapé convertible 2 places, table basse, meuble Tv, grand écran plat, table pour manger) ;
      - Cuisine américaine toute équipée : réfrigérateur, four, micro-onde, plaque à induction, lave-vaisselle, grille pain, machine à café, assortiments de vaisselles et de verres.
      - Buanderie avec machine à laver
      - Suite parentale : lit 2 places 160×200, tables de chevet, dressing, salle de bain et douche tout confort.

      Etage :
      - Chambre mansardée : 2 lits d'une place 90x200 modulable pour un lit de 2 personnes, table de chevet, commode ;
      - Mezzanine avec lit 2 places 140x200 qui vue sur le salon (pouvant faire office de salle de jeu , coin détente, bureau...)
      - Salle d'eau + toilette.

      - Linge de maison : nous vous fournissons les draps et les serviettes de toilette GRATUITEMENT !
      - Sur demande lit parapluie combiné et chaise haute.
      - Le logement est équipé de la climatisation.

      Des dépliants sont à votre disposition pour des idées de circuits touristiques, Wine Tour, des bons plans aux alentours, des musées, des zoos, des plages, parc aquatique.....
      Une machine à café tassimo est mise à votre disposition. Pensez à emporter des capsules si vous le désirez.
    </span>

    </div>


</section>

<%= content_for :after_js do %>
<script>
$(document).ready(function(e) {
  $('.carousel-inner>.carousel-item:first-child').addClass("active")
  $('.carousel').carousel({
    interval: 3500,
    pause: "none"
  })
});
</script>
<% end %>
